@font-face{
	src:url("../fonts/IranSans.ttf");
	font-family:sans;
}
@font-face{
	src:url("../fonts/Mj flow.ttf");
	font-family:mj;
}
@font-face{
	src:url("../fonts/Yekan.ttf");
	font-family:yek;
}
@font-face{
	src:url("../fonts/Mitra.ttf");
	font-family:mitra;
}
